.app-container {
    background: linear-gradient(rgb(32, 32, 32), rgb(65, 65, 238), rgb(75, 75, 75));
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 1025px) {

}

@media (max-width: 770px) {

}

@media (max-width: 340px) {

}
