.app-container {
    background: linear-gradient(rgb(32, 32, 32), rgb(65, 65, 238), rgb(75, 75, 75));
    margin: 30px;
    height: 710px;
    width: 1590px;
    overflow-x: hidden; /* this property hide and prevents the about-me animation scrolling in horizontal*/
    overflow-y: hidden;
}