.home-container {
    display: flex;
    flex-direction: row;
    margin: 0 40px auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

.right-side-container {
    background-color: rgb(79, 79, 79);
    border-radius: 20px;

}

@media (max-width: 1025px) {
    
}

@media (max-width: 770px) {
    .home-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
}

@media (max-width: 340px) {
    .home-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* justify-content: center; */
    }
}


