.links-container {
    text-align: center;
    background-color: rgb(23, 23, 23);
    margin: 10px 10px 0 10px;
    padding: 10px;
    border-radius: 20px;
}

.links-container a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 0 20px;
    transition: 1s;
}

a:hover {
    transform: scale(1.2, 1.2);
    color: blue;
}

.links-container a:active {
    color: rgb(49, 189, 254);
}

@media (max-width: 1025px) {
    /* for laptop small screen */
}

@media (max-width: 770px) {
    /* for tablet screen */
    .links-container {
        text-align: center;
        background-color: rgb(23, 23, 23);
        margin: 10px 10px 0 10px;
        padding: 10px;
        border-radius: 20px;
    }
    
    .links-container a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        padding: 0 10px;
        transition: 1s;
    }
}

@media (max-width: 340px) {
    /* for android screen */
    .links-container {
        text-align: center;
        background-color: rgb(23, 23, 23);
        margin: 10px 10px 0 10px;
        /* padding: 10px; */
        border-radius: 20px;
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    }
    
    .links-container a {
        text-decoration: none;
        font-size: 13px;
        color: white;
        /* padding: 0 10px; */
        padding: 7px 0;
        text-decoration: underline;
        transition: 1s;
    }
}