.portfolio-container {
    margin: 30px 30px 30px 30px;
    font-size: 22px;
    color: white;
}

.projects-wrapper {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    height: 170px;
    overflow-y: auto;
}

.projects-wrapper ul li {
    list-style-type: none;
}

.projects-wrapper ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.projects-wrapper ul li a:hover {
    color: rgb(146, 146, 255);
}

.project-d-wrapper {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    height: 120px;
    padding: 10px 20px 10px 20px;
}